html,
body {
    font-family: monospace, serif;
    margin: 0;
    padding: 0;
}

pre {
    padding: 20px 40px;
}

.input {
    width: 100%;
    height: 500px;
    font-family: monospace, serif;
}

.node {
    padding-left: 24px;
}

.node__title {
    display: flex;
    align-items: flex-end;
    padding: 4px 2px;
    border-bottom: 1px solid #4f6d7a;
}

.node__name {
    font-size: 1.25rem;
    font-weight: bold;
}

.node__attr {
    margin-left: 14px;
}

.node__attr-name {
    color: #db504a;
}

.node__attr-name::after {
    color: black;
    content: '=';
}

.node__attr-value {
    color: #e3b505;
}

.invalid-code {
    color: #db504a;
}

.error-text {
    display: inline-block;
    width: 100%;
    padding: 5px 22px;
    background-color: rgb(219, 80, 74, 0.2);
    color: #db504a;
}
